/* CSS reset */
img {
  max-width: 100%;
}

body {
  margin: 0;

  width: 100dvw;
  height: 100dvh;
}


/* styles */
body {
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 100%;
  height: 100%;

  background-color: whitesmoke;

  display: grid;
  justify-items: center;
  align-items: last baseline;

  text-align: center;
}

.card {
  width: min(max(33%, 300px), calc(100% - 100px));

  padding: 20px;
  background-color: white;

  border: 3px solid hsl(0, 80%, 45%);
  border-radius: 20px;

  box-shadow: 10px 10px black;
}

img {
  width: 200px;
}

footer {
  font-size: 0.8rem;
}
